.figisButton{
    background: #57BCE6; 
}
#sidebar .figisButton{
    background: #17A2FF;
}
.gx-popup.x-window{
    background: #FFFFFF;
}
#lblSRS{
    
    background-color: #57BCE6;
}

#leftTopPan{

    background-color: #57BCE6;
}

#sidebar .x-panel-body{
    background-color: #57BCE6;
}