/**
* FIRMS map viewer CSS stylesheet
*
*/
body { font: normal 12px; font-family: "Liberation Sans", Arial, Helvetica, sans-serif; height: 100%; margin: 0; padding: 0; text-align: center; width: 100%; }
a, a:visited { color: #2d8b8c; text-decoration: none; }
a:hover, a:active { color: #f90; cursor: pointer; }
ul, li { list-style-type: none; }
#wrapper { margin: 0; text-align: left; position: fixed; top: 0; left: 0; bottom: 0; right: 0; }
#top { background-repeat: no-repeat; color: rgb(11, 50, 93); font-size: 25px; height: 120px; margin: 0; padding: 5px 10px; text-shadow: rgb(204, 204, 204) 2px 2px 2px; vertical-align: bottom; width: 100%; }
#topBar { background-color: rgb(51, 102, 153); color: white; font-size: 12px; margin: 0; padding: 0 10px; text-align: right; }
#topBar a, #topBar a:visited { color: #fff; cursor: pointer; }
#topBar a:hover, #topBar a:active { color: #f90; cursor: pointer; }
#mapWrapper { position: absolute; display: block; top: 152px; left: 0; right: 0; bottom: 18px; }
#main { position: absolute; top: 5px; left: 10px; right: 220px; bottom: 5px; }
#map { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
#sidebar { border: solid 1px #000; border-width: 0 0 0 1px; bottom: 0; font-size: 12px; padding: 0; position: absolute; right: 0; top: 0; width: 210px; }
#sidebar .legend { margin: .5em; }
#sidebar .legendTitle { font-weight: bold; padding: .5em 0; }
#MemberCountries { }
#title { color: #036; display: block; font-size: 30px; font-style: normal; font-weight: bold; left: 0.5em; margin: 0; padding: 0; text-shadow: #CCC 2px 2px 2px; top: 0.5em; }
#footer { position: absolute; left: 0; bottom: 0; right: 0; }
#bottomBar1 { background-color: rgb(51, 102, 153); color: white; font-size: 12px; line-height: 1.5em; margin: 0; text-align: right; padding: 0 1em; }
#bottomBar1 a, #bottomBar1 a:visited { color: #fff; }
#bottomBar1 a:hover, #bottomBar1 a:active { color: #f90; }
#embed { border-top: 1px solid; margin-top: 20px; }
#embed-code textarea { height: 300px; }
.embed-link { color: black; text-decoration: underline; }
/** * OL CSS Stuff to be moved progressively * to js/vendor/ol3/ol3-figismap.css * | * V */
.olControlLoadingPanel { background-image: url(../img/loading.gif); background-position: center; background-repeat: no-repeat; display: none; }
.olControlMousePosition { bottom: 0px; display: block; left: 9px; position: absolute; }
.olControlAttribution { color: Blue; display: block; font-size: 12px !important; font-style: normal; left: 50px; position: absolute; top: 0.5em; }
.olControlGraticuleActive svg g text * { font-size: 11px; }
.olControlGraticuleActive svg g polyline { opacity: .7; }
.FigisMapLegend { border-top: 1px solid; clear: both; font-size: 12px; padding-top: 20px; text-align: left; width: 100%; }
.FigisMapLegend div { display: inline; margin-right: 1em; text-align: center; }
.FigisMapLegend div img { margin-right: 3px; vertical-align: middle; }
/** * ^ * | */
#e-link { background-color: rgb(51, 102, 153); display: none; height: 100px; padding: .5em 0; }
#e-link div { color: white; padding: .5em 0; text-align: center; }
#e-link label { font-size: 10px; }
#legend { margin-bottom: 0px; }
.legend img { vertical-align: middle; }

@media print { #sidePanelsContainer { display: none; } }
#sidePanelsContainer { bottom: 2em; left: .5em; position: absolute; width: 180px; z-index: 100; font-size: 12px; }
#sidePanelsContainer * { transition: all .5s; }
#sidePanelsContainer blockquote { background-color: rgba(255,255,255,.8); opacity: 0; margin: 0; overflow-y: hidden; padding: 0 10px; border-radius: 0 0 10px 10px; }
#sidePanelsContainer div.panel { border-radius: 10px; margin-top: .5em; }
#sidePanelsContainer div.panel:hover { box-shadow: 2px 2px 4px #666; }
#sidePanelsContainer div.panel blockquote { height: 0px; }
#sidePanelsContainer div.panel:hover blockquote { padding: 5px 10px; opacity: 1; }
#sidePanelsContainer #projectionPanel:hover blockquote { height: 40px; }
#sidePanelsContainer #legendPanel:hover blockquote { height: 90px; }
#sidePanelsContainer h4 { background-color: rgba(51,102,153,.6); border-radius: 10px; color: rgba(255,255,255,.6); font-size: 100%; margin: 0; padding: 5px 10px; text-align: left; }
#sidePanelsContainer div.panel:hover h4 { background-color: rgba(51,102,153,1); border-radius: 10px 10px 0 0; color: rgba(255,255,255,.9); }

/* FIRMS viewer popup */
.ol-popup { padding: 0 !important; border: none !important; background-color:transparent !important; }
.ol-popup-content { width: auto !important; height: auto !important; min-width: none !important; }
.ol-popup-closer { font-size:100% !important; }
.ol-popup-content { max-height: 400px !important; }
