
/*================================================================
*  Custom OL3 css classes
* ================================================================
*/

.ol-zoom { left: 40px; position: absolute; top: 150px; }
.ol-zoom-max-extent { left: 40px; position: absolute; top: 220px; }
#layerswitcher { margin: 10px 5px; overflow: auto; }
.layer-switcher-layergroup { margin-bottom: 3px; margin-left: 10px; margin-top: 3px; }
.layer-switcher-layer { margin-left: 10px; margin-top: 1px; }
.layer-switcher-layer > label { margin-left: 3px; }
.layer-switcher-layer > div { margin-left: 15px; }

/*================================================================
*  VME stuff
* ================================================================
*/

body { font: normal 12px; font-family: "Liberation Sans", Arial, Helvetica, sans-serif; height: 100%; margin: 0; padding: 0; text-align: center; width: 100%; }
a, a:visited { color: #2d8b8c; text-decoration: none; }
a:hover, a:active { color: #f90; cursor: pointer; }
ul, li { list-style-type: none; }
#wrapper { height: 100%; text-align: left; width: 100%; }
.wrapper_e_M { margin: 0px; text-align: left; width: 720px; }
.wrapper_e_L { margin: 0px; text-align: left; width: 962px; }

/* ------------------ */
/*      PAGE CSS      */
/* ------------------ */
#page { height: 100%; width: 100%; z-index: 1; }
.page_e_M { background-color: #fff; background-image: none; height: 540px; width: 720px; z-index: 1; }
.page_e_L { background-color: #fff; background-image: none; height: 710px; width: 962px; z-index: 1; }

/* ------------------ */
/*      MAP CSS       */
/* ------------------ */
#map { clear: both; height: 100%; left: 20px; width: 100%; }
.map_e_M { clear: both; height: 500px; left: 20px; width: 720px; }
.map_e_L { clear: both; height: 670px; left: 20px; width: 962px; }

/* ------------------ */
/*      MAIN CSS      */
/* ------------------ */
#main { bottom: 0px; float: left; top: 72px; width: 100%; }
.main_e_M { float: left; height: 500px; width: 720px; }
.main_e_L { float: left; height: 670px; width: 962px; }

/*
#EmbedLink {
	padding: 0;
	margin: 1px 0 1px 5px;
	height: 15px;
	background-image: url("../img/link_button_bg.png");
}

#EmbedLink span {
	margin: 0 5px 0 20px;
	padding: 0;
}
*/

/*YEARS SELECTION STYLE*/

#selectionYears { background-color: #57bce6; background-color: rgba(41, 171, 226, 0.6); color: #ffffff; cursor: pointer; font-family: Verdana, Arial, sans-serif; font-size: 12px; font-style: normal; font-weight: 400; height: 13px; margin: 0 0; padding-bottom: 5px; padding-left: 5px; padding-right: 0px; padding-top: 5px; position: relative; width: 100%; }
#selectionYears:hover { background-color: #71bfe0; background-color: rgba(41, 171, 226, 0.4); }
#selectionYears.open { background-color: #57bce6; background-color: rgba(41, 171, 226, 0.6); }
#yearsContent { background-color: #f9f9f9; background-color: rgba(255, 255, 255, 0.8); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 400; height: 0px; margin-bottom: 4px; overflow: hidden; width: 100%; }
#yearsContent div { float: left; }

/*RFB SELECTION STYLE*/

#selectionRFB { background-color: #57bce6; background-color: rgba(41, 171, 226, 0.6); color: #fff; cursor: pointer; font-family: Verdana, sans-serif; font-size: 12px; font-style: normal; font-weight: 400; height: 13px; margin: 0 0; padding-bottom: 5px; padding-left: 5px; padding-right: 0px; padding-top: 5px; position: relative; width: 100%; }
#selectionRFB:hover { background-color: #71bfe0; background-color: rgba(41, 171, 226, 0.4); }
#selectionRFB.open { background-color: #57bce6; background-color: rgba(41, 171, 226, 0.6); }

#RFBCombo { background-color: #f9f9f9; background-color: rgba(255, 255, 255, 0.8); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 400; height: 0px; overflow: hidden; width: 100%; }
#selectRFB .x-panel-body { background: transparent !important; background-color: rgba(0, 0, 0, 0); }
#selectRFB .x-column { margin-left: 6px; margin-top: 3px; }
#selectRFB .x-form-cb-label { color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 400; margin-left: 2px; overflow: hidden; }

/* change projection */
#lblSRS { background-color: #57bce6; background-color: rgba(41, 171, 226, 0.6); color: #ffffff; cursor: pointer; font-family: Verdana, sans-serif; font-size: 12px; font-style: normal; font-weight: 400; height: 13px; margin: 0 0; padding-bottom: 5px; padding-left: 5px; padding-right: 0px; padding-top: 5px; position: relative; width: 100%; }

#lblSRS:hover { background-color: #71bfe0; background-color: rgba(41, 171, 226, 0.4); }
#lblSRS.open { background-color: #57bce6; background-color: rgba(41, 171, 226, 0.6); }
#SelectSRS { background-color: #f9f9f9; background-color: rgba(255, 255, 255, 0.8); font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 400; height: 0px; overflow: hidden; width: 100%; }
#SelectSRS div { float: left; width: 95px; }
#SelectSRS p { margin: 0; padding: 3px; }
#bottomLeftPanel { bottom: 65px; position: absolute; width: 200px; z-index: 5000; }

#bottomRightPanel { display: table; height: 40px; margin-left: 22px; position: relative; width: 155px; z-index: 5000; }
#bottomRightPanel div { float: left; }
#yearLess { background-image: url('../img/asaparrowleft.png'); background-position: center center; background-repeat: no-repeat; height: 40px; position: relative; text-align: left; width: 42px; }
#yearLess:hover { background-image: url('../img/asaparrowleft.png'); background-position: center 46%; background-repeat: no-repeat; height: 40px; position: relative; text-align: left; width: 42px; }

#yearsLabel { color: #fff; font-family: Verdana, sans-serif; font-size: 14px; font-style: normal; height: 20px; position: relative; text-align: center; text-shadow: 1px 2px 2px #101010; width: 155px; }
#yearCurrent { color: #fff; font-family: Verdana,sans-serif; font-size: 32px; font-weight: 400; height: 40px; line-height: 40px; position: relative; text-align: center; text-shadow: 1px 2px 2px #101010; width: 69px; }

#yearCurrent.ie { color: #fff; font-family: Verdana,sans-serif; font-size: 30px; font-weight: 400; height: 40px; line-height: 40px; position: relative; text-align: center; width: 70px; zoom: 1; -ms-filter: "progid:DXImageTransform.Microsoft.DropShadow(Color=#868686, OffX=1, OffY=2)"; filter: progid:DXImageTransform.Microsoft.DropShadow(OffX=1, OffY=2, Color=#868686); }

#yearMore { background-image: url('../img/asaparrowright.png'); background-position: center center; background-repeat: no-repeat; height: 40px; position: relative; text-align: right; width: 42px; }
#yearMore:hover { background-image: url('../img/asaparrowright.png'); background-position: center 46%; background-repeat: no-repeat; height: 40px; position: relative; text-align: right; width: 42px; }

#yearLess, #yearCurrent, #yearCurrent.ie, #yearLess { -khtml-user-select: none; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }

.nobackground { background-image: none !important; }

/* side panel */
#sidebar {
    border-left-color : #000;
    float : right;
    font-size :  12px;
    padding : 0;
    width : 275px;
    position:absolute;
    z-index:5000;
    top:0;right:0;
}
#sidebarP{
    overflow :  auto ;
}
#leftTopPan{
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0, 79, 131, 0.5);
    box-shadow: 0px 2px 5px rgba(0, 79, 131, 0.5);
    border-color: #000000;
    background-color: #57BCE6;
    background-color: rgba(41, 171, 226, 0.5);
    height:82px;

}
#searchtextwrapper{
    background:url(../img/searchsimplebox.png) no-repeat;
    padding-top: 13px;
    margin-top:0px;
    padding-left:15px;
    padding-bottom:30px;
    margin-bottom:0px;
}
#leftTopPan div{
    margin-left: 20px;
}
#leftTopLinks{
    padding-left:15px;
    color: #FFFFFF;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
    position:relative;
    
}

#leftTopLinks a,#leftTopLinks a:hover{
    color: #FFFFFF;
    text-decoration:none;
}
#searchtext{

    background-color:transparent;
    border: 0px solid;
    height:20px;
    width:155px;
    padding-right:2px;
    padding-left:2px;

    color:#666;
}


#sidebarP{
    width:260px; 
	margin-left:12px;
    -webkit-box-shadow: 0px 2px 5px -1px rgba(0, 79, 131, 0.5);
    box-shadow: 0px 2px 5px rgba(0, 79, 131, 0.5);
}
#sidebar .x-panel-body{
    background: rgba(41, 171, 226, 0.5);
    font-weight:bold;
   
    border-color: #000000;
    background-color: #57BCE6;
    background-color: rgba(41, 171, 226, 0.5);
    background:linear-gradient(to bottom,rgba(41, 171, 226, 0.5) 70%,rgba(41, 171, 226, 0) ); 
}

#sidebar .x-panel-body .x-panel-body{
    background: transparent !important;
    font-weight:bold;
    
    
}
#simpleSearchButton{
    height: 25px;
    width: 29px;
    position: absolute;background:white;
    -/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* Netscape */
  -moz-opacity: 0;
  /* Safari 1.x */
  -khtml-opacity: 0;

  /* Good browsers */
  opacity: 0;
    
    top: 10px;
    left: 174px;
    cursor: pointer;
    margin: 0;
}
.xbutton-closepanels{
    position:absolute;
    right:10px;
    top:-3px;
    width:21px;
    height:21px;
    cursor:pointer;
    background:url('../img/xbutton.png');
    float:right;

}
#sidebar .legend {
        margin : .5em;
}
#sidebar .legendTitle {
	font-weight: bold;
	padding: .5em 0;
}

#legendPanel .x-panel-body {
    overflow-y: auto;
}

#MemberCountries {
}

#top {
       background-repeat : no-repeat;
                   color : rgb(11, 50, 93);
                   float : left;
               font-size :  25px;
                  height : 120px;
             text-shadow : rgb(204, 204, 204)   2px   2px   2px;
          vertical-align : bottom;
                   width : 1024px;
}
#title {
                   color : #036;
                 display : block;
               font-size :  30px;
              font-style : normal;
             font-weight : bold;
                    left : 0.5em;
                  margin : 0;
                 padding : 0;
             text-shadow : #CCC   2px   2px   2px;
                     top : 0.5em;
}

#topBar {
	background-color: #57BCE6; 
	background-color: rgba(41, 171, 226, 0.5);
	/*background-color : rgb(51, 102, 153);*/
	/*background-color : rgb(24, 16, 86);*/
	/*background-image : url("../img/patternbanner.jpg");*/
	/*clear : both;
	color : black;
	font-size :  12px;*/
	/*height: 73px;*/
	/*margin-top :  2px;
	margin-bottom :  2px;
	padding-right :  10px;
	text-align : right;
	padding-top: 2px;
	padding-bottom: 2px;*/
}

#topBar a,
#topBar a:visited {
                   color : #fff;
                  cursor : pointer;
}
#topBar a:hover,
#topBar a:active {
                   color : #f90;
                  cursor : pointer;
}
#bottomBar1 {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	opacity: .7;
	bottom: 10px;
	clear: both;
	color: black;
	font-size:  12px;
	font-weight: bold;
	line-height: 1.5em;              
	text-align: center;
	z-index:1000;
}

#bottomBar1_e {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	opacity: .7;
	bottom: 10px;
	clear: both;
	color: black;
	font-size:  12px;
	font-weight: bold;
	line-height: 1.5em;              
	text-align: center;
	z-index:1000;
}

#bottomBar1 a, #bottomBar1 a:visited,
#bottomBar1_e a, #bottomBar1_e a:visited {
                   color : #000;
}
#bottomBar1 a:hover, #bottomBar1 a:active,
#bottomBar1_e a:hover, #bottomBar1_e a:active {
                    opacity:1;
                   color : #f90;
}
/*
#bottomBar2 {
            border-color : #693;
            border-right : 0 solid #693;
            border-style : solid;
            border-width :   1px 0 0;
                   clear : both;
                  height :   1px;
           margin-bottom :  30px;
              margin-top :   1px;
}
*/
/*
#disclaimer {
                   clear : both;
               font-size :  12px;
             padding-top :  55px;
                   width : 100%;
}
*/
#disclaimer{
	/*color: #FFFFFF;*/
    font-size: 10px;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    width : 920px;
    margin-left: auto;
    margin-top:2px;
    margin-bottom:2px;
    margin-right: auto;
    top:-70px;
    position:relative;
    text-align:left;
}

.disclaimer_e_M{
    font-size: 10px;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    width : 720px;
    /*margin-left: auto;*/
    margin-top:2px;
    margin-bottom:2px;
    /*margin-right: auto;*/
    top:-30px;
    position:relative;
    text-align:left;
}

.disclaimer_e_L{
	/*color: #FFFFFF;*/
    font-size: 10px;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    width : 962px;
    /*margin-left: auto;*/
    margin-top:2px;
    margin-bottom:2px;
    /*margin-right: auto;*/
    top:-30px;
    position:relative;
    text-align:left;
}

#disclaimer p {
                 padding :   0px  10px;
}
#embed {
              border-top :   1px solid;
              margin-top :  20px;
}
#embed-code textarea {
                  height : 300px;
}
/*.embed-link {
                   color : black;
         text-decoration : underline;
}*/


.FigisMapLegend {
              border-top :   1px solid;
                   clear : both;
               font-size :  12px;
             padding-top :  20px;
              text-align : left;
                   width : 100%;
}
.FigisMapLegend div {
                 display : inline;
            margin-right : 1em;
              text-align : center;
}
.FigisMapLegend div img {
            margin-right :   3px;
          vertical-align : middle;
}
#e-link {
        /*background-color : rgb(51, 102, 153);*/
        /*display : none;*/
        height : 100px;
        padding: .5em 0;
}
#e-link div {
        color : white;
        padding : .5em 0;
        text-align : center;
}
#e-link label {
        font-size :  10px;
}
#legend {
           margin-bottom :   0px;
}
.legend img {
          vertical-align : middle;
}

#custom-slider {
    /*width:810px;*/
    padding-top:15px;
    padding-bottom:15px;
    background-image:url(../img/ticks.gif);
}
#custom-slider .x-slider-thumb {
    background-image:url(../img/slider-thumb.png);
}

h3 {
    padding:15px 0 5px;
}

.year-max-largestep{
    background-image: url(../img/control_fastforward_blue.png) !important;
}

.year-min-littlestep{
    background-image: url(../img/resultset_previous.png) !important;
}

.year-min-largestep{
    background-image: url(../img/control_rewind_blue.png) !important;
}

.year-max-littlestep{
    background-image: url(../img/resultset_next.png) !important;
}

.first-year{
    background-image: url(../img/resultset_first.png) !important;
}

.last-year{
    background-image: url(../img/resultset_last.png) !important;
}
/* FeatureInfo */
.FeatureInfo{
	text-align: left;
	font: normal 14px tahoma,arial,helvetica,sans-serif;
	
}

.FeatureInfo ul{
	padding-left: 10px;
}

.FeatureInfo a{
	text-align:right;
}

.FeatureInfo .links {
	text-align:right;
}

/* button icons */
.icon-cancel{
	 background-image: url(../img/cancel.png) !important;
}
.icon-login{
	 background-image: url(../img/door_in.png) !important;
}
.icon-logout{
	 background-image: url(../img/door_out.png) !important;
}
.icon-user{
	 background-image: url(../img/user.png) !important;
}
.encounters-icon{
	background-image: url(../img/bullet_purple.png) !important;

}

.surveydata-icon{
	background-image: url(../img/bullet_red.png) !important;

}


.figisButton{

    background-repeat: no-repeat;
    width:90px;
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    color:black;
	margin: 0px 12px 0px 12px;
    background-position: 3px 0px; /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;
    padding:  2px ;
    text-align:center;/* make text start to the right of the image */
    vertical-align: baseline; /* align the text vertically centered */
    /*display:inline-block;*/
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #57BCE6; 
    background-color: rgba(41, 171, 226, 0.5);
    z-index:1050;
}

.figisButtonVMEs{
    background-repeat: no-repeat;
    width:90px;
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    color:black;
	margin: 0px 12px 0px 12px;
    background-position: 3px 0px; /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 26px;
    padding:  2px ;
    text-align:center;/* make text start to the right of the image */
    vertical-align: baseline; /* align the text vertically centered */
    /*display:inline-block;*/
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #DFDFDF; 
    background-color: rgba(223, 223, 223, 0.4);
    z-index:1050;
}

.figisButtonOARAs{
    background-repeat: no-repeat;
    width:90px;
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    color:black;
	margin: 0px 12px 0px 12px;
    background-position: 3px 0px; /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 30px;
    padding:  2px ;
    text-align:center;/* make text start to the right of the image */
    vertical-align: baseline; /* align the text vertically centered */
    /*display:inline-block;*/
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #DFDFDF; 
    background-color: rgba(223, 223, 223, 0.4);
    z-index:1050;
}

.figisButtonBFAs{
    background-repeat: no-repeat;
    width:90px;
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    color:black;
	margin: 0px 12px 0px 12px;
    background-position: 3px 0px; /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 26px;
    padding:  2px ;
    text-align:center;/* make text start to the right of the image */
    vertical-align: baseline; /* align the text vertically centered */
    /*display:inline-block;*/
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #DFDFDF; 
    background-color: rgba(223, 223, 223, 0.4);
    z-index:1050;
}

.figisButtonToggleVMEs{
    background-repeat: no-repeat;
    width:90px;
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    color:black;
	margin: 0px 12px 0px 12px;
    background-position: 3px 0px; /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 26px;
    padding:  2px ;
    text-align:center;/* make text start to the right of the image */
    vertical-align: baseline; /* align the text vertically centered */
    /*display:inline-block;*/
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #CE5956; 
    background-color: rgba(228, 69, 56, 0.8);
    z-index:1050;
}

.figisButtonToggleOARAs{
    background-repeat: no-repeat;
    width:90px;
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    color:black;
	margin: 0px 12px 0px 12px;
    background-position: 3px 0px; /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 30px;
    padding:  2px ;
    text-align:center;/* make text start to the right of the image */
    vertical-align: baseline; /* align the text vertically centered */
    /*display:inline-block;*/
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #C3A546; 
    background-color: rgba(214, 164, 35, 0.8);
    z-index:1050;
}

.figisButtonToggleBFAs{
    background-repeat: no-repeat;
    width:90px;
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    color:black;
	margin: 0px 12px 0px 12px;
    background-position: 3px 0px; /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 26px;
    padding:  2px ;
    text-align:center;/* make text start to the right of the image */
    vertical-align: baseline; /* align the text vertically centered */
    /*display:inline-block;*/
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #59D26A; 
    background-color: rgba(80, 219, 80, 0.8);
    z-index:1050;
}

#sidebar .figisButton .x-btn-tl,#sidebar .figisButton .x-btn-tr,#sidebar .figisButton .x-btn-tc,
#sidebar .figisButton .x-btn-ml,#sidebar .figisButton .x-btn-mr,#sidebar .figisButton .x-btn-mc,
#sidebar .figisButton .x-btn-bl,#sidebar .figisButton .x-btn-br,#sidebar .figisButton .x-btn-bc{
    background:transparent;
    
}
#sidebar .figisButton{
    background-color: #17A2FF;
    background-color: rgba(23, 162, 255, 0.61);
    
    }
#sidebar .figisButton button{
    font-weight:bold;
}

.figisButton:hover{
    line-height: 1.3;
}

a.lblReset {    
    /*background-image: url(../img/house.png);*/    
}

#lblVMEs{
    position:absolute;
    top:10px;
    left:-1px;
}

#lblOARAs{
    position:absolute;
    top:50px;
    left:-1px;
}

#lblBFAs{
    position:absolute;
    top:93px;
    left:-1px;
}

#lblReset{
    position:absolute;
    top:270px;
    left:-1px;
}


/*---------------------*/

.figisButtonToggle{
    background-repeat: no-repeat;
    width:90px;
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 3px 3px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    color:black;
	margin: 0px 12px 0px 12px;
    background-position: 3px 0px; /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;
    padding:  2px ;
    text-align:center;/* make text start to the right of the image */
    vertical-align: baseline; /* align the text vertically centered */
    /*display:inline-block;*/
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #5D696E; 
    background-color: rgba(93, 105, 110, 0.5);
    z-index:1050;
}

/*---------------------*/

#loginContainer{
    position:absolute;
    top:10px;
    left:-1px;
}

#login.user-login a{
	padding-left:20px;
	background-image: url(../img/door_in.png) !important;
	background-repeat:no-repeat;

}

#login.user-logout a{
	padding-left:20px;
	background-image: url(../img/door_out.png) !important;
	background-repeat:no-repeat;

}

#user.user-logout em{
	font-weight:bold;
}

.x-combo-list {
    text-align : left;
}

.x-combo-list-item {
    text-align : left;
}


.dataLbl {
    display: none;
}
/** Search Results **/
.search-result{
	margin:0;
	padding: 6px 2px;
	border-bottom:thin solid black;
}
#sidebar .search-result{

    margin-left: 5px;
    margin-right: 5px;
}
.search-result em{
	font-weight: bold;
}
.search-result .searchResultValue{
	font-weight: normal;
}



/**
* NEW POPUP STYLE OUT OF GEOEXT
*/

/**
 * Custom OL3 css
 */
.ol-popup {
	background: #FFFFFF;
    	background-color: rgba(255, 255, 255, 0.8) !important;
    	border-radius: 10px;
    	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
    	border-width: 1px;
    	border-style: solid;
    	border-color: #999999;
    	-moz-border-radius: 10px;
    	-webkit-border-radius: 10px;
    	-khtml-border-radius: 10px;
    	border-radius: 10px;
	padding:12px 6px 12px 6px;
	width: 398px !important;
	height: 282px !important;
	z-index:6000;
}
body .ol-popup-content { max-height: 380px; overflow:hidden;}
body .ol-popup-closer { font-size:100%; }

.ol-popup.top:after { border-top-color: rgba(255, 255, 255, 0.8) !important; }
.ol-popup.bottom:after { border-bottom-color: rgba(255, 255, 255, 0.8) !important; }

/**
 * VME content Handler css
 */

.ol-popup-content > .popup-container{
}

.ol-popup-content > .popup-container input {
	height: 1.5em;
	visibility: hidden;
}

.ol-popup-content > .popup-container input.visible {
  visibility: visible !important;
}

.ol-popup-content > .popup-container label { 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dcdcdc+0,f6f6f6+50,ededed+100 */
	background: #dcdcdc; /* Old browsers */
	background: -moz-linear-gradient(top,  #dcdcdc 0%, #f6f6f6 50%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #dcdcdc 0%,#f6f6f6 50%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #dcdcdc 0%,#f6f6f6 50%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border-radius: .25em .25em 0 0;
	border: 1px #999999 solid;
	color: #aaa;
	font: normal 11px tahoma,arial,helvetica;
	font-weight:bold;
	display: block;
	float: left;
	padding: 6px 1.5em 6px 1.5em;
	text-align: center;
}

.ol-popup-content > .popup-container input:hover + .popup-label {
	background: #ddd;
	color: #666; 
}

.ol-popup-content > .popup-container input:checked + .popup-label {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+50,ededed+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 50%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 50%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 50%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border-width:1px 1px 1px 1px;
	border-bottom-color: #ededed;
	color: #444;
	position: relative;
	z-index: 6;
}

.ol-popup-content > .popup-container > .popup-content {
	min-height: 240px;
	position: relative;
	width: 100%;
	z-index: 5;
	outline-offset: 2px;
    	outline: 1px solid #999999;
    	border-width: 1px 0px 0px 0px;
    	margin-top: 16px;
}

.ol-popup-content > .popup-container > .popup-content div.tab-content {
	opacity: 0;
	padding: 0;
	position: absolute;
	width:100%;
	height: 100%;
	overflow-x: auto;
}

.ol-popup-content > .popup-container input#tab-0:checked ~ .popup-content #content-0,
.ol-popup-content > .popup-container input#tab-1:checked ~ .popup-content #content-1,
.ol-popup-content > .popup-container input#tab-2:checked ~ .popup-content #content-2 {
    	opacity: 1;
    	z-index: 100;
	overflow-y:auto;
}


/** popup content */
.popup-result{
    	font-family: Verdana, sans-serif;
    	font-size: 12px;
    	font-weight: normal;
    	line-height: 1.5;
	margin:0;
	padding: 6px 2px;
	text-align: left;
    	border: 1px #ccc solid;
    	border-width: 1px 0px 0px 0px;
}
.popup-result h3{
    	font-family: Verdana, sans-serif;
    	font-size: 22px;
    	font-weight: 400;
    	padding: 0px;
}
.popup-result em{
	font-weight: bold;
}


.ext-el-mask {
	width:0;
	height:0;
}

.x-view-over{background-color:rgba(219, 241, 255, 0.56);cursor:default;}
.x-view-selected{background-color:rgba(162, 202, 229, 0.81)}

/** ICONS **/
.legend-icon{
	background-image: url(../img/icons/legend.png) !important;
}
.map-icon{
	background-image: url(../img/icons/map.png) !important;
}
.layers-icon{
	background-image: url(../img/icons/layers.png) !important;
}
.search-icon{
	background-image: url(../img/icons/magnifier.png) !important;
}
.clear-icon{
	background-image: url(../img/icons/delete.png) !important;
}
.back-search-icon{
	background-image: url(../img/icons/application_form_magnify.png) !important;
}

.zoomlink{ 
	padding-left: 15px;
	background-size:13px;
	background-image: url(../img/icons/magnifier.png) !important;
	background-repeat: no-repeat;
}

.zipmlink{ 
	padding-left: 15px;
	background-size:13px;
	background-image: url(../img/icons/compress.png) !important;
	background-repeat: no-repeat;
}

.factlink{ 
	padding-left: 15px;
	background-size:13px;
	background-image: url(../img/icons/page_white_go.png) !important;
	background-repeat: no-repeat;
}
.rellink{ 
	padding-left: 15px;
	background-size:13px;
	background-image: url(../img/icons/attach.png) !important;
	background-repeat: no-repeat;
}

